@model IEnumerable<FvpWebApp.Models.DocumentView>

@{
    ViewData["Title"] = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dokumenty z wybranego zakresu</h1>

<table class="table table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.DocumentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorVatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorCountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.DocumentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentSymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorVatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorCountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DocumentId })
                </td>
            </tr>
        }
    </tbody>
</table>
