@model FvpWebAppModels.Models.AccountingRecord

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AccountingRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sign)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountingRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
